{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Give your feedback!✅</h1>
    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            <!--But hard-coding a path is a bad idea for several reasons. The most
                important reason is if you change the path (from /conference/{id} to
                /conferences/{id} for instance), all links must be updated manually.-->
            <!-- <a href="/conference/{{ conference.id }}">View</a>-->
            <a href="{{ path('conference', { id: conference.id }) }}">View</a>
        </p>
    {% endfor %}
</div>
{% endblock %}


